#content_wrap {
  & > .row > .span8 {
    width: calc(50% - 20px);
    box-sizing: border-box;

    & > form {
      width: 100%;
    }

    &:nth-child(1) > form {
      .label {
        padding-bottom: 5px;
      }

      input, textarea {
        width: calc(100% - 15px);
      }
    }

    &:nth-child(2) {
      a.jumplink {
        float: right;
      }

      label {
        display: block;
        width: 100%;
        clear: both;

        strong {
          font-size: 10pt;
          vertical-align: top;
        }
      }
    }
  }
}

.CodeMirror {
  font-size: 12px;
  resize: both;
  min-width: 100%;
  min-height: 350px;
  border: 1px solid #ccc;

  &.CodeMirror--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    min-width: calc(99vw + 1px);
    height: calc(99vh + 1px);
    resize: none;
  }
}
